/* Medium devices <tablets, 768px and up */
@media (min-width: 768px) {
    .sub-hero h2 {
        max-width: 650px;
        margin: 0 auto;
        font-size: 30px;
    }

    .sub-hero h1 {
        font-size: 20px;
        align-items: left;
    }
    .sub-hero p {
        text-align: center;
        font-size: 25px;
    }

    #contact form {
        font-size: 30px;
    }

    #about h2 {
        font-size: 40px;
    }

    #about p {
        font-size: 25px;
    }

    #about h1 {
        font-size: 28px;
    }

    #contact form input,
    #contact form textarea {
        font-size: 22px;
}
}


/* large devices (desktop, 992px and up) */
@media (min-width: 992px) {
    .hero h2 {
        font-size: 45px;
    }
    .hero h1 {
        font-size: 22px;
    }
    .sub-hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-hero h2 {
        font-size: 40px;
        text-align: center;
        width: 500px;
        margin: 0;
    }

    .sub-hero h1 {
        font-size: 20px;
    }

    .sub-hero p {
        font-size: 28px;
    }
    
    .sub-hero img {
        width: 400px;
    }

    #contact h1 {
        font-size: 30px;
    }

    #contact p {
        font-size: 20px;
    }
}


/* X-large devices (large desktop, 1200px and up) */
@media (min-width: 1200px) {

    .hero h2 {
        font-size: 55px;
    }
    .hero h1 {
        font-size: 30px;
    }
    #pricing {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-hero p {
        text-align: center;
        font-size: 38px;
    }

    .sub-hero h2 {
        font-size: 40px;
    }

    #about {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #about p {
        font-size: 30px;
    }

    #about p {
        line-height: 1.5;
    }

    #contact h2 {
        font-size: 45px;
    }

    #contact h3 {
        font-size: 30px;
    }

    #contact form label {
        font-size: 35px;
    }

    #contact p {
        font-size: 30px;
    }

    #contact h1 {
        font-size: 40px;
    }

    #contact form input,
    #contact form textarea {
        font-size: 35px;
    }
}